<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Ban IP addresses
# writing a bunch of 'See goo.gl/DJqlP for info'
Deny from 199.115.112.90