* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #f1f1f1;
}

h1 {
  margin: 0;
}

:global(#container) {
  width: 100%;

  @media (min-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }

  :global(#navigation) {
    padding: 10px 15px;
    background-color: #16233A;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        margin-right: 15px;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

  :global(.trailheader) {
    background-size: cover;
    min-height: 200px;
    h1 {
      color: #ffffff;
      font-weight: bold;
      text-shadow: 0 0 6px rgba(0,0,0,0.5);
    }
  }
